Source: ros-foxy-kobuki-ftdi
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ftdi-eeprom, libftdi-dev, libusb-dev, pkg-config, ros-foxy-ament-cmake-ros, ros-foxy-ecl-build, ros-foxy-ecl-command-line, ros-foxy-ros-workspace
Homepage: http://ros.org/wiki/kobuki_ftdi
Standards-Version: 3.9.2

Package: ros-foxy-kobuki-ftdi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ftdi-eeprom, libftdi-dev, libusb-dev, ros-foxy-ecl-command-line, ros-foxy-ros-workspace
Description: Utilities for flashing and enabling Kobuki's USB connection.
 This package contains tools for flashing the Kobuki's FTDI chip (usually done at the factory). The special firmware for the FTDI chip (USB to serial converter) enables it to appear as /dev/kobuki on the user's PC.
